__pycache__/
*.py[cod]
*$py.class

.pytest_cache/
.pytest_tmp/
.mypy_cache/
.ruff_cache/
.tox/
.nox/
.coverage
.coverage.*
htmlcov/

build/
dist/
.eggs/
*.egg-info/
pip-wheel-metadata/

.venv/
venv/
env/

.ipynb_checkpoints/

.vscode/
.idea/

.DS_Store
._*

tmp*/
*.tmp
*.log
